.profile {
  display: flex;
  max-width: 880px;
  margin: 0 auto 50px;
  align-items: center;
}

@media screen and (max-width: 894px) {
  .profile {
    max-width: 580px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 596px) {
  .profile {
    flex-direction: column;
    width: 282px;
    margin-bottom: 36px;
  }
}