.popup__label {
  width: 358px;
  height: 61px;
  margin: 0 auto;
  text-align: left;
}

@media screen and (max-width: 894px) {
  .popup__label {
    width: 300px;
  }
}

@media screen and (max-width: 596px) {
  .popup__label {
    width: 238px;
  }
}