.profile__info { 
  display: grid;
  width: 346px;
  margin: 22px auto 25px 30px;
  grid-template-columns: auto 24px;
}

@media screen and (max-width: 894px) {
  .profile__info {
    max-width: 305px;
    margin: 16px auto 18px 24px;
  }
}

@media screen and (max-width: 596px) {
  .profile__info {
    width: 282px;
    margin: 26px auto 36px;
    text-align: center;
  }
}