.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 42px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
}

@media screen and (max-width: 894px) {
  .header__logo {
    width: 125px;
    height: 29px;
    margin: 0 auto 37px 12px;
  }
}

@media screen and (max-width: 596px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin: 0 auto 32px 27px;
  }
}