.popup__input-error {
  width: 358px;
  margin-top: 5px;
  color: red;
  font-family: 'Inter', 'Corbel', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  font-size: 12px;

}

@media screen and (max-width: 894px) {
  .popup__input-error {
    width: 300px;
  }
}

@media screen and (max-width: 596px) {
  .popup__input-error {
    width: 238px;
  }
}
