.elements {
  padding: 0;
  max-width: 880px;
  margin: 0 auto 67px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 20px 16px;
  justify-content: center;
  list-style-type: none;
  
}

@media screen and (max-width: 894px) {
  .elements {
    max-width: 596px;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 596px) {
  .elements {
    min-width: 282px;
    max-width: 320px;
    margin-bottom: 48px;
  }
}