.element__like {
  background-color: white;
  background-image: url('../../../images/likenoactive.svg');
  border: none;
  width: 22px;
  height: 19px;
  margin-bottom: 3px;
  transition: 0.3s;  
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}