.profile__info-name {
  margin: 0 18px 0 0;
  color: white;
  font-family: 'Inter', 'Corbel', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 114%;
  font-size: 42px;
  text-overflow: ellipsis; /*делал переносом в любом месте (anywhere),но переделал по требованиям (ellipsis)*/
  max-width: 294px; /*в остальных размерах адаптива не указываю,т.к. поля name и about ограничены отступами и общей шириной блока info*/
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 894px) {
  .profile__info-name {
    margin-right: 12px;
    font-size: 35px;
  }
}

@media screen and (max-width: 596px) {
  .profile__info-name {
    margin: 0 10px 0 28px;
    font-size: 27px;
  }
}