.profile__add-button {
  background-image: url(../../../images/addbutton_small.svg);
  background-color: black;
  background-size: cover;
  border: none;
  width: 150px;
  height: 50px;
  transition: 0.3s;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 894px) {
  .profile__add-button {
    width: 110px;
    height: 36px;
  }
}

@media screen and (max-width: 596px) {
  .profile__add-button {
    background-image: url(../../../images/addbutton_big.svg);
    width: 282px;
    height: 50px;
  }
}