.footer {
  max-width: 880px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 894px) {
  .footer {
    max-width: 580px;
    margin-bottom: 52px;
  }
}

@media screen and (max-width: 596px) {
  .footer {
    width: 282px;
    margin-bottom: 36px;
  }
}